Flask==1.0.2
Flask-SQLAlchemy==2.1
SQLAlchemy==1.2.18
Flask-HTTPAuth==3.2.4
Flask-WTF==0.14.2
WTForms==2.2.1
PyMySQL==0.9.3
requests==2.21.0
beautifulsoup4==4.7.1
python-dotenv==0.9.1
Werkzeug==0.14.1
requests-toolbelt
cloudscraper
