{% extends "layout.html" %}
{% block title %} - Admin Add{% endblock %}
{% block body %}
    <form method="post" action="">
        {{ add_form.csrf_token }}
        {{ add_form.id }}

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field column">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            {{ add_form.folder }}
                        </div>
                    </div>
                </div>

                <div class="field column is-6">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            {{ add_form.name(list='animes', class='input', placeholder='Name') }}
                            <datalist id="animes">
                                {% for title in titles %}
                                    <option>
                                        {{ title.name }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field column is-4">
                    <div class="control is-expanded">
                        {{ add_form.link(class='input', placeholder='Link') }}
                    </div>
                </div>

                <div class="field column">
                    <div class="control is-expanded">
                        {{ add_form.season(class='input', placeholder='Season') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field column is-5">
                    <div class="control is-expanded">
                        {{ add_form.comment(class='input', placeholder='Comment') }}
                    </div>
                </div>

                <div class="field column">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            {{ add_form.keyword(list='keywords', class='input', placeholder='Keyword') }}
                            <datalist id="keywords">
                                {% for title in titles %}
                                    <option>
                                        {{ title.keyword }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                </div>

                <label class="checkbox">
                    <b>{{ true|flagify }}</b>
                    {{ add_form.is_vf }}
                </label>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field column">
                    <div class="control is-expanded">
                        <input class="button is-info" type="submit" onclick="this.disabled=true;this.form.submit()">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
